body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
.section-with-background {
    position: relative; /* Добавляем позиционирование */
    background-image: url('3.jpg');
    background-size: contain; /* или любой другой размер, который подходит вашим требованиям */
    background-position: center;
    color: white; /* Цвет текста */
    text-align: center; /* Выравнивание текста по центру */
    padding: 100px 0; /* Отступы сверху и снизу */
}

.section-with-background h2 {
    position: relative;
    z-index: 1; /* Содержимое секции будет поверх фона */
}


section {
    padding: 50px 0;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.item p {
    margin-top: 10px;
}

p {
    font-size: 16px;
    transition: font-size 0.5s ease;
  }
  
  p:hover {
    font-size: 24px;
  }