 .u-section-1 {
  min-height: 410px;
  background-image: url("images/3.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 410px;
}

.u-section-1 .u-text-1 {
  font-size: 3.5rem;
  margin: 179px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 266px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 338px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 187px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 259px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 122px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 194px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 50px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 122px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}